@media only screen and (min-width : 900px) {
    .subMenu {
        display: none;
        clear: both;
        padding: 0;
        margin: 15px 0 0 -10px;
        position: fixed;
        background-color: rgb(64, 64, 64);
        -webkit-box-shadow: 0 0 2px 2px #c5c5c5;
        -webkit-box-shadow: 0 0 2px 2px rgba(197, 197, 197, 0.3);
        -ms-box-shadow: 0 0 2px 2px #c5c5c5;
        -ms-box-shadow: 0 0 2px 2px rgba(197, 197, 197, 0.3);
        box-shadow: 0 0 2px 2px #c5c5c5;
        box-shadow: 0 0 2px 2px rgba(197, 197, 197, 0.3);
        -ms-border-radius: 10px;
        border-radius: 6px;
        font-size: 9pt;
    }

    .visibleSubMenu {
        display: block;
    }

    .subMenu ul {
        margin-top: 6px;
        margin-bottom: 6px;
    }

        .subMenu ul li {
            float: none !important;
            margin: 0 !important;
            padding: 8px 10px 8px 5px !important;
        }

            .subMenu ul li:hover {
                background-color: #585858;
                background-color: rgba(255,255,255,.15);
            }

    #menu > ul > .neutralMenu > .subMenu > ul > li:hover, #menu > ul > .neutralMenuSelected > .subMenu > ul > li:hover {
        background-color: #03142e;
        background-color: rgba(8, 57, 129, 0.5);
    }

    #menu > ul > .trainingMenu > .subMenu > ul > li:hover, #menu > ul > .trainingMenuSelected > .subMenu > ul > li:hover {
        background-color: #04161f;
        background-color: rgba(28, 134, 185, 0.3);
    }

    #menu > ul > .magazineMenu > .subMenu > ul > li:hover, #menu > ul > .magazineMenuSelected > .subMenu > ul > li:hover {
        background-color: #3c3004;
        background-color: rgba(239, 192, 13, 0.3);
    }

    #menu > ul > .consultingMenu > .subMenu > ul > li:hover, #menu > ul > .consultingMenuSelected > .subMenu > ul > li:hover {
        background-color: #580009;
        background-color: rgba(178, 12, 29, 0.3);
    }

    #menu > ul > .frameworkMenu > .subMenu > ul > li:hover, #menu > ul > .frameworkMenuSelected > .subMenu > ul > li:hover {
        background-color: #321b01;
        background-color: rgba(237, 126, 1, 0.3);
    }

    #menu > ul > .vfpconversionMenu > .subMenu > ul > li:hover, #menu > ul > .vfpconversionMenu > .subMenu > ul > li:hover {
        background-color: #3d0000;
        background-color: rgba(254, 0, 0, 0.3);
    }

    #menu > ul > .staffingMenu > .subMenu > ul > li:hover, #menu > ul > .staffingMenuSelected > .subMenu > ul > li:hover {
        background-color: #173c19;
        background-color: rgba(66, 182, 74, 0.3);
    }

    .subMenu ul li a {
        border-bottom: 0 !important;
        color: white !important;
    }

    #contentColumnSingle /* Single content column in 1-column layouts */ {
        max-width: 900px;
    }

    #mobileMenuIcon {
        display: none;
    }

    #mobileMenu {
        display: none;
    }

    #page {
        margin: 110px 0 0 0 !important;
    }

    #main {
        top: 110px;
    }

    #header {
        background-color: rgb(240, 240, 240) !important;
        background-color: rgba(240, 240, 240, 0.95) !important;
        height: 110px;
    }

        #header.headerSmall {
            height: 50px;
        }

    #logo {
        float: left;
        margin: 5px 0 0 10px;
        width: 200px;
    }

        #logo img {
            width: 200px;
            margin-top: 10px;
        }

    #menu {
        display: block;
    }

    .singleColumnBelowBillboard /* Single content column used below billboards */ {
        max-width: 900px;
    }

        .singleColumnBelowBillboard .leftContent {
            float: left;
            width: 300px;
            margin-right: 50px;
            margin-left: 0;
        }

        .singleColumnBelowBillboard .leftContent2 {
            float: left;
            width: 450px;
            margin-right: 25px;
            margin-left: 0;
        }

        .singleColumnBelowBillboard .leftContent3 {
            float: left;
            width: 550px;
            margin-right: 25px;
            margin-left: 0;
        }

        .singleColumnBelowBillboard .rightContent {
            float: left;
            width: 550px;
            margin-left: 0;
        }

        .singleColumnBelowBillboard .rightContent2 {
            float: left;
            width: 425px;
            margin-left: 0;
        }

        .singleColumnBelowBillboard .rightContent3 {
            float: left;
            width: 325px;
            margin-left: 0;
        }

    #contentColumnHeader h2, .contentColumnHeader h2 {
        font-size: 4.5em;
        width: 800px;
    }

    #menu ul {
        font-size: .95em;
    }

        #menu ul li a {
            padding: 5px 10px;
        }

    .smallVideo {
        width: 48%;
        float: left;
        margin-right: 10px;
        border-bottom: 0;
    }
}

@media only screen and (min-width : 1000px) {
    #menu ul {
        font-size: 1.08em;
    }

        #menu ul li a {
            padding: 5px 12px;
        }
}

@media only screen and (min-width : 1100px) {
    #menu ul {
        font-size: 1.2em;
    }

        #menu ul li a {
            padding: 5px 14px;
        }
}
